.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid{
  position: relative;
  transition: 1s;
  background-color: rgb(147, 188, 224);
  width: fit-content;
  /* transform: rotateX(45deg) rotateZ(-45deg);
  -webkit-transform-style: preserve-3d; */
  margin-left: 20vw;
  &:before {
    content: "";
    position: absolute;
    bottom: calc(-15px / 2);
    left: 0;
    background-color: #ddd;
    width: 100%;
    height: 15px;
    display: block;
    transform: rotateX(90deg) translateY(-5px);
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-15px / 2);
    width: 15px;
    height: 100%;
    background-color: rgb(173, 173, 173);
    transform: rotateY(90deg)  translateX(5px);
  }

}


.row{
  display: flex;
}

.cell{
  width:60px;
  height: 60px;
  display: grid;
  place-items: center;
  -webkit-box-shadow:inset 0px 0px 0px 1px #fff;
  -moz-box-shadow:inset 0px 0px 0px 1px #fff;
  box-shadow:inset 0px 0px 0px 1px #fff;
}

.cell.hero-cell{
  background-color: rgb(212, 212, 212)!important;
}


.cell.enemy-cell{
  background-color: rgb(255, 193, 193)!important;
}

.cell.land{
  background-color: rgb(162, 157, 9);

}

.cell.water{
  background-color: rgb(147, 188, 224);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.cell.possible-move{
  cursor: pointer;
  background: green;
}

.cell.disable{
  transform-style: preserve-3d;
  transform: rotateY(  0deg) translateZ( 50px);
  /* opacity: 0.5; */
}

.cell.possible-move:hover{
  background-color: rgb(24, 190, 24);
}

@keyframes greener {
  0% {background: rgb(162, 157, 9); }
  100%  {background:  rgb(24, 190, 24) }
}

.soldier{
  position: absolute;
  width:4px;
  height: 4px;
  border-radius: 2px;
  transition: 0.6s;
  z-index: 999;
  box-shadow: -2px 2px 1px rgb(110, 110, 110);
}

/* .soldier{
  width:10px;
  height: 10px;
  position: absolute;
  transition: 1s;
  background-color: rgb(147, 188, 224);
  transform: rotateX(45deg) rotateZ(-45deg);
  -webkit-transform-style: preserve-3d;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(10px/2/2);
    background-color: #ff0e0e;
    width: 100%;
    height: 5px;
    display: block;
    transform: rotateX(90deg) translateY(-5px);
  }
  &:after {
    content: "";
    position: absolute;
    top: calc(-10px/2);
    left: 0;
    width: 5px;
    height: 100%;
    background-color: rgb(0, 255, 145);
    transform: rotateY(90deg)  translateX(5px);
  }
} */

.hero{
  background-color: rgb(58, 58, 58);
  animation: myfirst 1s infinite;
  animation-direction: alternate-reverse;
  animation-iteration-count:infinite
}

@keyframes myfirst {
  0%   {  transform: perspective(50px) translateZ(10px);
  }
  100% {  transform: perspective(50px) translateZ(0px);
  }
}

.enemy{
  background-color: rgb(169, 18, 18);
}

/*
.row {
  &:nth-child(even) {
    margin-left: 52px;
  }
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.cell {
  width: 100px;
  height: 50px;
  position: relative;
  float: left;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
  transition: all .3s ease;
  &:before {
    content: "";
    position: absolute;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    top: -30px;
    transition: all .3s ease;
  }
  &:after {
    content: "";
    position: absolute;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    bottom: -30px;
    transition: all .3s ease;
  }

} */



.cube {
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  line-height: 50px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }
